.stApp{
    background: linear-gradient(135deg, #2A9D8F, #203a43, #9D69A3) !important; 
    color: white !important;
    font-family: 'Poiret One', serif !important;
    margin: 0 !important; 
    padding: 0 !important;
}
/*звёздочки*/
    .stars {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}

.star-field {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: moveStars 10s linear infinite;
    background: radial-gradient(white 1px, transparent 1px);
    background-size: 400px 400px;
}

@keyframes moveStars {
    from { transform: translateY(0); }
    to { transform: translateY(-400px); }
}

h1, h2, h3 {
    font-family: 'Poiret One', sans-serif !important;
    color: #0fffc7 !important;
    text-align: center !important;
}

.stTextInput input, .stSelectbox select, .stMultiSelect select {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #ffffff !important;
    border: 1px solid #0fffc7 !important;
    border-radius: 20px !important;
    padding: 10px !important;
}

.stButton button {
    background-color: #0fffc7 !important;
    color: #0e1117 !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 4px 8px rgba(16, 255, 199, 0.3) !important;
}
/*картинка, её контейнер*/
div[data-testid="stImageContainer"]{
    align-items: center;
    box-shadow: 0 4px 8px rgba(16, 255, 199, 0.3) !important;
}

header[data-testid="stHeader"]{
    background: linear-gradient(135deg,  #1F1F23, #066459, #1F1F23) !important;
    border-bottom: 2px solid #203A43 !important;
    box-shadow: 0 4px 8px rgba(32, 58, 67, 0.3) !important;
}

div[data-testid="stPlotlyChart"]{
    border: 2px solid #ffffff !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 8px rgba(16, 255, 199, 0.3) !important;
}
div[data-testid="stFullScreenFrame"]{
    border: 2px solid #ffffff !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 8px rgba(16, 255, 199, 0.3) !important;
}
img{
    border-radius: 15px !important;
}
div[class="st-an st-aq st-ao st-ap st-b1 st-b2 st-af st-ak st-b3 st-b4 st-b5 st-b6 st-b7 st-b8 st-b9 st-ba st-bb st-bc st-bd st-be st-bf st-bg st-bh st-bi st-bj st-bk st-bl st-bm"]{
    color: #19d0a5;
}

.js-plotly-plot .plotly text {
    fill: white !important;
}

.js-plotly-plot .plotly .paper {
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}